{% extends 'base/base.html' %}

{% block titulo %}
    Lista Personas
{% endblock %}

{% block contenido%}

<div class="alert alert-info display-1 text-center mb-5">
    Listado de personas ✔
</div>

{% if user.is_authenticated %}
    <h1>{{user.username}}</h1>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Cerrar sesión">
    </form>


{% else  %}
    <h2> No estas logeado </h2>
    <a href="{% url 'login' %}" class="btn btn-info">Log in</a>
{% endif %}

<a href="{% url 'registrar' %}" class="btn btn-primary mb-5">Agregar Personas
</a>

<!-- Inicio tabla -->
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if personas %}
        {% for persona in personas %}
        <tr>
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.email}}</td>
            <td>
                {% if persona.estado.nombre == 'Disponible' %}
                <span class="badge text-bg-success">Disponible</span>
                {% else %}
                <span class="badge text-bg-danger">Ocupado</span>
                {% endif %}
            </td>
            <td class="text-center">
                <a href="{% url 'eliminarPersona' persona.id %}" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></a>
                <a href="{% url 'editarPersona' persona.id %}" class="btn btn-outline-warning"><i class="bi bi-pencil"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </tfoot>
</table>

<!-- FIN TABLA -->

{% endblock %}