{% extends 'base/base.html' %}

{% block titulo %}
    {{titulo}}
{% endblock %}

{% block contenido%}
    <div class="container my-5">
        <div class="alert alert-info display-1 text-center mb-5">
            {{titulo}}
        </div>


    <!-- Agregar el formulario -->
    <form method="post" class="card p-4 col-6 offset-3">

        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="{{boton}}">
        <a href="{% url 'listaPersonas' %}" class="btn btn-danger">Volver</a>    
    </form>

{% endblock %}